@font-face {
  font-family: 'SpaceFont';
  src: url('./fonts/AstroSpace-0Wl3o.otf') format('opentype'), /* IE6-IE8 */
       url('./fonts/AstroSpace-0Wl3o.ttf') format('truetype'); /* Modern Browsers */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#bg {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
section {
	height: 100vh;
	width: 100vw;

	position: absolute;
	top: 0;
	left: 0;
}


#test {
	color: white;
	font-size: 62px;
	width: 100%;
	text-align: center;
	display:block;
}

#content{
	color: white;
	margin-left: 100px;
	margin-top: 50px;
	width: 40vw;

	font-size: 30px;
	opacity: 1;
	transition: opacity 0.5s;
}

.hidden {
	opacity: 0 !important;
}